<html>
  <head>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>

    <link href="static/css/styles.css" rel="stylesheet" />
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="/static/favicon.ico"
    />
  </head>
  <body>
    <main>
      <h1 class="title">Element Puzzle</h1>

      <div class="periodic-table">
        {% for element_symbol in elements %} {% set element =
        element_lookup[element_symbol] %}
        <div
          class="element {% if element_symbol not in options %}option{% endif %}"
          style="
          color: {{ get_category_style(element['category'])['color'] }};
          background-color: {{ get_category_style(element['category'])['backgroundColor'] }};
          grid-column: {{ element['xpos'] }};
          grid-row: {{ element['ypos'] }};
          
        "
        >
          <div class="element-number">{{ element['number'] }}</div>
          <div class="element-symbol">{{ element_symbol }}</div>
        </div>
        {% endfor %}
      </div>

      <div class="question">{{ question }}</div>

      <form id="form" hx-encoding="multipart/form-data" hx-post="/submission">
        <input hidden type="text" id="name" name="name" value="{{ puzzle }}" />
        <input
          hidden
          type="text"
          id="visitor"
          name="visitor"
          value="{{ visitor }}"
        />
        <label for="user_solution">Your answer (e.g "Fe"):</label><br />
        <input
          type="text"
          id="answer"
          name="answer"
          pattern="[a-zA-Z]+"
          placeholder=""
        />
        <button>Submit your answer</button>
      </form>

      <div id="response-good"></div>
      <div id="response-bad"></div>
    </main>
  </body>
</html>
