<html>

<head>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>
    <link href="static/styles.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body id="body">
    <h1>Anagram Puzzle!</h1>
    <!--  -->
    <p> What's a synchrotron-related anagram of the following word?</p>

    <p id="scrambled_word"><b>{{ scrambled_word }}</b></p>

    <!-- create a button, using htmx, that sends a get request to /shuffled -->
    <button hx-get="shuffled" hx-trigger="click" hx-target="#scrambled_word" hx-swap="outerHTML">
        Shuffle
    </button>


    <form id='form' method='POST' action='/submission'>
        <input hidden type="text" id="name" name="name" value="{{ puzzle }}">
        <input hidden type="text" id="visitor" name="visitor" value="{{ visitor }}">
        <label for="user_solution">Your answer:</label><br>
        <!-- use validation to lowercase the answer before submitting -->
        <input type="text" id="answer" name="answer" pattern="[a-z]+" placeholder="(lowercase letters only)">
        <button>
            Submit your answer
        </button>
    </form>

</body>

</html>