{% extends "layout.html" %}
{% block content %}
<div class="container my-4 text-center">
    <h1 class="type-h1 mb-3">⚠️ Oh no! ⚠️</h1>
    <p>
        👾 <b>You've found a 404 invalid UID error</b>! 👾<br />
        Have you registered for the Scavenger Hunt?
    </p>
    <p class="mt-5">
        If you'd like to join the scavenger hunt,<br />
        come to the Scientific Computing booth!
    </p>
    <p class="text-secondary mt-5">
        <a href="/">Click here to go back to the main page!</a>
    </p>
</div>
{% endblock %}