.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.grid-item {
    background-color: lightgrey;
    border-radius: 10px;
    height: 100px; /* Fixed height for grid items */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.category-container {
    background-color: lightgrey;
    border-radius: 10px;
    height: 100px; /* Fixed height for grid items */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    text-align: center;
    cursor: pointer;
}

.category-container strong,
.category-container p {
    display: block;
    margin: 0; /* Optional: Remove default margins if needed */
}

.selected {
    background-color: darkgrey;
    color: white;
}

.mistake-pip {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #35bfc9;
    border-radius: 50%;
    margin: 0 5px;
}

.container {
    max-width: 600px;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}