<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Answer</th>
            <th>Status</th>
            <th>Location</th>
            <th>Notes</th>
            <th>QR Code</th>
            <th>Link to Puzzle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for puzzle in puzzles %}
        <tr>
            <td>{{ puzzle.name }}</td>
            <td>{{ puzzle.answer }}</td>
            <td>{% if puzzle.active is true %}
                <span class="badge text-bg-success">Enabled</span>
                {% else %}
                <span class="badge text-bg-danger">Disabled</span>
                {% endif %}
            </td>
            <td>{{ puzzle.location if puzzle.location }}</td>
            <td>{{ puzzle.notes if puzzle.notes }}</td>
            <td>
                <a href="{{ puzzle.name }}/qr">
                    <i class="fa-regular fa-qrcode"></i> 
                </a>
            </td>
            <td>
                <a href="{{ base_url }}puzzles/{{ puzzle.name }}">
                    <i class="fa-solid fa-link"></i>
                </a>
            </td>
            <td>
                {% if puzzle.active is true %}
                <button type="button" class="btn btn-danger waves-effect" hx-put="/admin/puzzles/{{ puzzle.name }}" hx-vals='{"active": false}' hx-ext='json-enc' hx-swap="innerHTML" hx-target="#puzzle-table">Disable</button>
                {% else %}
                <button type="button" class="btn btn-success waves-effect" hx-put="/admin/puzzles/{{ puzzle.name }}" hx-vals='{"active": true}' hx-ext='json-enc' hx-swap="innerHTML" hx-target="#puzzle-table">Enable</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
