{% extends "layout.html" %}

{% block content %}
<h1 class="mx-3 admin-page-title">
    <i class="fa-solid fa-puzzle-piece"></i> Puzzle Administration<br />
    <small>Add your puzzle to the list below to make it available</small>
</h1>

<div class="my-4 mx-3 p-3 bg-body shadow-sm admin-panel-container">
    <h5 class="border-bottom pb-2 mb-0">Available Puzzles</h5>
     <div id="puzzle-table" hx-get="/admin/puzzles/table" hx-trigger="load" hx-swap="innerHTML"></div>
     <a class="btn btn-primary" href="/admin/puzzles/download-pdf">
        <i class="fa-regular fa-qrcode"></i> 
        Download All QR Codes
    </a>
</div>

<div class="my-4 mx-3 p-3 bg-body shadow-sm admin-panel-container">
    <h5 class="border-bottom pb-2 mb-0">Add new Puzzle</h5>
    <div>
        <form id='puzzle-add-form' class="mt-3" hx-encoding='multipart/form-data' hx-post='/admin/puzzles' hx-ext='json-enc' hx-swap="innerHTML" hx-target="#puzzle-table">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Location:</label>
                            <input type="text" id="location" name="location" class="form-control">
                        </div>
                        <button class="btn btn-primary">Add new puzzle</button>
                    </div>
                    
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Answer:</label>
                            <input type="text" id="answer" name="answer" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Notes:</label>
                            <input type="text" id="notes" name="notes" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
