
/* ---- Google fonts ---- */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/static/webfonts/poppins-v21-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/static/webfonts/poppins-v21-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/static/webfonts/poppins-v21-latin-700.woff2') format('woff2');
}


/* ---- Admin pages ---- */
.admin-bg-purple {
    background-color: #a38cc6;
}

.admin-bg-blue {
    background-color: #6ab8f7;
}

.admin-bg-aqua {
    background-color: #4de5d5;
}

.admin-bg-yellow {
    background-color: #ffca5b;
}

.admin-bg-grey {
    background-color: #faf8fb;
}

.admin-nav-sidebar {
    width: 16.875rem;
    background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
    background-color: #584475;
    font-family: 'Poppins';
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}

.admin-nav-sidebar h1 {
    font-family: 'Poppins';
    font-size: 1.375rem;
    font-weight: 500;
    color: #fff;
    line-height: 150%;
}

.admin-nav-sidebar h1 small {
    font-size: 1.0rem;
    font-weight: 400;
}

.admin-nav-sidebar li a {
    color: #bdafd1;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.8125rem 2rem;
}

.admin-nav-sidebar li:hover a {
    color: #fff;
    background-color: #4b4676;
}

.admin-nav-sidebar li a > [class*=fa-] {
    margin-right: 0.25rem;
    font-size: 1.125rem;
    width: 1.75rem;
    color: #876fab;
    text-align: left;
}

.admin-nav-sidebar li:hover a > [class*=fa-] {
    color: #a8a6ac;
}

.admin-nav-sidebar a, .admin-nav-sidebar a > [class*=fa-] {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.admin-nav-sidebar li.active > a {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.04);
}

.admin-nav-sidebar li.active:hover > a {
    background-color: #4b4676;
}

.admin-page-title {
    font-family: 'Poppins';
    font-size: 1.375rem;
    font-weight: 500;
    color: #505050;
    line-height: 150%;
}

.admin-page-title small {
    font-size: 1.0rem;
    font-weight: 400;
}

.admin-page-content {
    background-color: #faf8fb;
    margin-left: 16.875rem;
}

.admin-panel-container {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.admin-stats-panel {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.admin-stats-panel h1 {
    font-family: 'Poppins';
    font-size: 2.375rem;
    font-weight: 500;
    color: #fff;
    line-height: 120%;
}

.admin-stats-panel small {
    font-size: 1.0rem;
    font-weight: 400;
    color: #fff;
}


/* ---- Game pages ---- */
.game-response-correct-icon {
    font-size: 40px;
    color: green;
}


.game-response-incorrect-icon {
    font-size: 40px;
    color: red;
}
