<div id="element-popup" class="popup">
  <div class="popup-content">
    <span class="close">&times;</span>
    <h2 id="element-name" class="element-name"></h2>

    <style></style>
    <div class="element-details-wrapper">
      <table class="table table-striped element-details">
        <tbody>
          <tr>
            <td>Symbol</td>
            <td><span id="element-symbol" class="element-detail"></span></td>
          </tr>
          <tr>
            <td>Atomic Number</td>
            <td><span id="element-number" class="element-detail"></span></td>
          </tr>
          <tr>
            <td>Atomic Mass</td>
            <td><span id="element-mass" class="element-detail"></span></td>
          </tr>
          <tr>
            <td>Category</td>
            <td><span id="element-category" class="element-detail"></span></td>
          </tr>
          <tr>
            <td>Density</td>
            <td>
              <span id="element-density" class="element-detail"></span>
              <span class="element-detail-unit"> g/cm³</span>
            </td>
          </tr>
          <tr>
            <td>Melting Point</td>
            <td>
              <span id="element-melting-point" class="element-detail"></span>
              <span class="element-detail-unit"> K</span>
            </td>
          </tr>
          <tr>
            <td>Boiling Point</td>
            <td>
              <span id="element-boiling-point" class="element-detail"></span>
              <span class="element-detail-unit"> K</span>
            </td>
          </tr>
          <tr>
            <td>Electron Configuration</td>
            <td>
              <span id="element-configuration" class="element-detail"></span>
            </td>
          </tr>
          <tr>
            <td>Radioactive</td>
            <td>
              <span id="element-radioactive" class="element-detail"></span>
            </td>
          </tr>
          <tr>
            <td>Year of Discovery</td>
            <td>
              <span id="element-discovery-year" class="element-detail"></span>
            </td>
          </tr>
          <tr>
            <td>Discovered by</td>
            <td>
              <span id="element-discoverer" class="element-detail"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-container">
        <button id="btn-google" class="big-btn btn-1">
          <div class="btn-content">
            <span>Search for more details</span>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </button>
        <form id="form" method="POST" action="/submission" autocomplete="off">
          <input
            hidden
            type="text"
            id="name"
            name="name"
            value="{{ puzzle }}"
          />
          <input
            hidden
            type="text"
            id="visitor"
            name="visitor"
            value="{{ visitor }}"
          />
          <input
            hidden
            type="text"
            id="answer"
            name="answer"
            pattern="[a-zA-Z]+"
          />
          <button id="btn-answer" class="big-btn btn-2">
            <div class="btn-content">
              <span>This is my answer and submit it</span>
              <i class="fas fa-check" style="color: green"></i>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
