@media print {
  body {
    visibility: hidden;
  }

  .map-admin {
    visibility: visible;
  }
}

.map-instructions {
    max-width: 1440px;
}

.map-admin {
    position: relative;
    margin-left: 0;
    max-width: 800px;
    min-width: 800px;
    width: 800px;
}

.map-svg {
    width: 100%;
}

.map-marker {
    cursor: pointer;
    display: inline-block;
    height: 24px;
    opacity: 0.8;
    position: absolute;
    width: 24px;
}