<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label the Map</title>

    <!-- From common code -->
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/html5-qrcode.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <!-- Puzzle specific CSS -->
    <link href="static/styles.css" rel="stylesheet">
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
</head>

<body>
    <h1 class="text-center my-4">Label the map!</h1>

    <!-- Image of the map with drop zones -->
    <div class="container d-flex justify-content-center">

        <div class="map-container">
            <img src="static/map.svg" alt="Map" class="img-fluid">
            <div id="labels">
                <div id="dropzone1" class="dropzone" style="top: 29%; left: 70%;">LINAC</div>
                <div id="dropzone2" class="dropzone" style="top: 33%; left: 55%;">Booster Ring</div>
                <div id="dropzone3" class="dropzone" style="top: 20%; left: 58%;">Storage Ring</div>
                <div id="dropzone4" class="dropzone" style="top: 72%; left: 66%;">IMBL</div>
                <div id="dropzone5" class="dropzone" style="top: 59%; left: 83%;">XFM</div>
                <div id="dropzone6" class="dropzone" style="top: 50%; left: 92%;">MX3</div>
                <div id="dropzone7" class="dropzone" style="top: 24%; left: 87%;">MX1&2</div>
                <div id="dropzone8" class="dropzone" style="top: 16%; left: 79%;">BioSAXS</div>
                <div id="dropzone9" class="dropzone" style="top: 9%; left: 73%;">THz/Far-IR</div>
                <div id="dropzone10" class="dropzone" style="top: 7%; left: 65%;">IRM</div>
                <div id="dropzone11" class="dropzone" style="top: 3%; left: 56%;">SXR</div>
                <div id="dropzone12" class="dropzone" style="top: 12%; left: 38%;">SAXS/WAXS</div>
                <div id="dropzone13" class="dropzone" style="top: 18%; left: 31%;">MEX1&2</div>
                <div id="dropzone14" class="dropzone" style="top: 37%; left: 28%;">XAS</div>
                <div id="dropzone15" class="dropzone" style="top: 49%; left: 34%;">PD</div>
                <div id="dropzone16" class="dropzone" style="top: 59%; left: 35%;">ADS</div>
                <div id="dropzone17" class="dropzone" style="top: 65%; left: 39%;">MCT</div>
                <div id="dropzone18" class="dropzone" style="top: 73%; left: 12%;">NANO</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xl-10 order-2 order-sm-1 mt-3">
                <h2 class="h6"><strong>Sortable List</strong></h2>
                <div id="sortablelist" class="list-group mb-4 mt-3" data-id="1">
                    <div class="list-group-item d-flex align-items-center justify-content-between" data-id="2">
                        <div>
                            <p class="mb-0 d-inline-flex align-items-center">
                                List Item 1</p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center justify-content-between" data-id="3">
                        <div>
                            <p class="mb-0 d-inline-flex align-items-center">
                                List Item 2</p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center justify-content-between" data-id="4" style="">
                        <div>
                            <p class="mb-0 d-inline-flex align-items-center">
                                List Item 3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        new Sortable(labels, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
    </script>

    <script>
        new Sortable(sortablelist, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
    </script>
</body>

</html>