<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label the Map</title>

    <!-- From common code -->
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/html5-qrcode.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <!-- Puzzle specific CSS -->
    <link href="static/styles.css" rel="stylesheet">
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
</head>

<body>
    <h1 class="text-center my-4">Help us label the map!</h1>
    <p class="text-center my-4">This map of the Synchrotron got all scrambled up, and all the labels are in the wrong
        place!</p>
    <p class="text-center my-4">Help us by dragging the labels to the correct locations on the map.</p>

    <div class="container d-flex justify-content-center mb-4">
        <div class="map-container">
            <img src="static/map.svg" alt="Map" class="img-fluid">
            <div id="labels">
                <div class="label" style="bottom: 94%; left: 29%;" data-id="1">Booster Ring</div>
                <div class="label" style="bottom: 92%; right: 72%;" data-id="2">SAXS/WAXS</div>
                <div class="label" style="bottom: 85%; left: 29%;" data-id="3">THz/Far-IR</div>
                <div class="label" style="bottom: 1%; left: 54%;" data-id="4">NANO</div>
                <div class="label" style="bottom: 18%; right: 10%;" data-id="5">MX3</div>
                <div class="label" style="bottom: 9%; right: 6%;" data-id="6">ADS</div>
                <div class="label" style="bottom: 1%; right: 3%;" data-id="7">LINAC</div>
                <div class="label" style="bottom: 82%; right: 0%;" data-id="8">MEX1&2</div>
                <div class="label" style="bottom: 91%; right: 0%;" data-id="9">MX1&2</div>
                <div class="label" style="bottom: 94%; right: 24%" data-id="10">PD</div>
                <div class="label" style="bottom: 83%; right: 72%" data-id="11">MCT</div>
                <div class="label" style="bottom: 74.5%; right: 64%;" data-id="12">Storage Ring</div>
                <div class="label" style="bottom: 65%; right: 69%;" data-id="13">BioSAXS</div>
                <div class="label" style="bottom: 56%; right: 71%;" data-id="14">XFM</div>
                <div class="label" style="bottom: 35%; right: 69%;" data-id="15">IRM</div>
                <div class="label" style="bottom: 22%; right: 61%;" data-id="16">SXR</div>
                <div class="label" style="bottom: 11%; right: 50%;" data-id="17">XAS</div>
                <div class="label" style="bottom: 1%; left: 9%;" data-id="18">IMBL</div>
            </div>
        </div>
    </div>

    <form id='form' method='POST' action='/submission' class="text-center">
        <input hidden type="text" id="name" name="name" value="{{ puzzle }}">
        <input hidden type="text" id="visitor" name="visitor" value="{{ visitor }}">
        <input hidden type="text" id="answer" name="answer" value="">
        <button class="btn btn-custom" onclick="setAnswer()">
            Submit your answer
        </button>
    </form>

    <script>
        function calculateAnswer() {
            const labels = document.querySelectorAll('#labels .label');
            let answer = '';
            labels.forEach(label => {
                const dataId = label.getAttribute('data-id');
                const textContent = label.textContent.trim();
                answer += `${dataId}:${textContent};`;
            });
            return answer;
        }

        function setAnswer() {
            const answerField = document.getElementById('answer');
            answerField.value = calculateAnswer();
        }

        new Sortable(labels, {
            swap: true,
            swapClass: "sortable-swap-highlight",
            animation: 150,
            ghostClass: 'blue-background-class',
            onEnd: function (evt) {
                // Get the two elements involved in the swap
                var itemA = evt.item;
                var itemB = evt.swapItem;

                // Swap their styles
                var tempStyle = itemA.style.cssText;
                itemA.style.cssText = itemB.style.cssText;
                itemB.style.cssText = tempStyle;

                // Swap their data-ids
                var tempId = itemA.getAttribute('data-id');
                itemA.setAttribute('data-id', itemB.getAttribute('data-id'));
                itemB.setAttribute('data-id', tempId);
            }
        });
    </script>

</body>

</html>