{% extends "layout.html" %}

{% block content %}

{% if visitor %}
<script>
    function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    console.log(`Code matched = ${decodedText}`, decodedResult);
    window.location.assign(decodedText);
    window.open(newUrl, "_top");
    }

    function onScanFailure(error) {
    // handle scan failure, usually better to ignore and keep scanning.
    // for example:
    }
    document.addEventListener('DOMContentLoaded', function() {
        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            { fps: 10, qrbox: {width: 100, height: 100} },
            false
        );
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    }, false);
    
</script>   
{% endif %}

<div>
    <div>
        {% if visitor %}
        <p>Find some puzzles!</p>
        <div class="mx-auto" id="reader" style="width: 400px;"></div>
        {% else %}
        <p>Please go to the registration desk</p>
        {% endif %}
    </div>
</div>
{% endblock %}
