<html>
    <head>
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/json-enc.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/html5-qrcode.js"></script>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    
    <body>
        <h1 class="mx-auto" style="width:90%;">Welcome to the Open Day Scavenger Hunt</h1>
        {% block content %}{% endblock %}
    </body>
</html>
