<!DOCTYPE html>
<html lang="en">

<script src="/static/js/htmx.min.js"></script>
<script src="/static/js/json-enc.js"></script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/fontawesome.min.css" rel="stylesheet" />
<link href="/static/css/solid.min.css" rel="stylesheet" />
<link href="static/demo.css" rel="stylesheet">
<link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div class="container">
        <h1 class="title">X-ray Fluorescence Microscopy (XFM) Images Puzzle</h1>

        <div class="instructions">
            <p>XFM produces elemental maps, where each colour component (Red, Green, Blue) represents a different atomic
                element.
            <p>Here are four animals scanned at the XFM beamline. Can you identify them as we reveal their image maps?
            </p>

        </div>

        {% if state['complete'] == false %}
        <form id='form' class="form" method='POST' action='/puzzles/imagereveal/partsubmission'>
            <input hidden type="text" id="name" name="name" value="{{ puzzle }}">
            <input hidden type="text" id="visitor" name="visitor" value="{{ visitor }}">

            <label for="form">Animal {{ state["animal_id"] }}:</label>
            <label for="form">Correct guesses {{ state["correct_guesses"] }}:</label>
            <label for="form">Remaining guesses {{ state["remaining_guesses"] }}:</label>



            <!-- {% if state["remaining_guesses"] %} -->

            <img src="static/im{{ state['animal_id'] }}_{{ state['fraction'] }}.jpg"
                alt="Animal {{ state['animal_id'] }}" style="width:80%"><br>

            <!-- {% else %} -->

            <!-- <img src="static/im{{ state['animal_id'] }}_10.jpg" alt="Animal {{ state['animal_id'] }}" style="width:100%;"><br> -->

            <!-- {% endif %} -->

            <!-- <input type="text" id="answer" name="answer"> -->
            <!-- <select class="form-select" id="animal" name="animal">
                    <option value="0">Wasp</option>
                    <option value="1">Millipede</option>
                    <option value="2">Mosquito</option>
                    <option value="3">Giraffe</option>
                    <option value="4">Lobster larva</option>
                    <option value="5">Ant</option>
                </select><br>
                <button class="form-button">
                    Submit your guess
                </button> -->
            <input type="hidden" id="animal" name="animal" value="">
            <div class="container">
                <div class="row justify-content-center">
                    <button type="button" class="form-button col-4" id="0" onclick="submitForm(0)">Wasp</button>
                    <button type="button" class="form-button col-4" id="1" onclick="submitForm(1)">Millipede</button>
                    <button type="button" class="form-button col-4" id="2" onclick="submitForm(2)">Mosquito</button>
                    <button type="button" class="form-button col-4" id="3" onclick="submitForm(3)">Giraffe</button>
                    <button type="button" class="form-button col-4" id="4" onclick="submitForm(4)">Lobster
                        larva</button>
                    <button type="button" class="form-button col-4" id="5" onclick="submitForm(5)">Ant</button>
                </div>
            </div>
        </form>

        {% else %}

        <form id='auto-submit-form' method='POST' action='/submission'>
            <input hidden type="text" id="name" name="name" value="{{ puzzle }}">
            <input hidden type="text" id="visitor" name="visitor" value="{{ visitor }}">
            <input hidden type="text" id="answer" name="answer" value="{{ state['answer'] }}">
            <label for="auto-submit-form">Submitting results</label><br>
        </form>
        <script>
            setTimeout(function () {
                document.getElementById('auto-submit-form').submit();
            }, 1000); // 1 second delay
        </script>
        {% endif %}


        <script>
            function submitForm(animalId) {
                document.getElementById('animal').value = animalId;
                document.getElementById('form').submit();
            }
        </script>
    </div>

</body>

</html>