.dropzone {
    border: 1px solid #35bfc9;
    border-radius: 5px;
    min-height: 20px;
    min-width: 50px;
    position: absolute;
}

.map-container {
    position: relative;
    display: inline-block;
}

/* .disabled {
    pointer-events: none;
    opacity: 0.5;
} */
.list-group .list-group-item {
    border-radius: 0;
    cursor: move;
}

.list-group .list-group-item:hover {
    background-color: #f7f7f7;
}
