/* styles.css */


/* ansto colours */
/* cyan: 35bfc9 */
/* lighter blue: 0078c1 */
/* darker blue: 203d79 */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style for the header */
h1 {
    background-color: #203d79;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

/* Style for the form */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form elements */
form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* button {
    background-color: #35bfc9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2aa3b0;
} */

/* Style for the response message */
#response-good {
    text-align: center;
    font-size: 18px;
    color: #28a745;
    margin-top: 20px;
}
#response-bad {
    text-align: center;
    font-size: 18px;
    color: #990312;
    margin-top: 20px;
}

/* Style for error messages */
.error {
    color: #dc3545;
    font-weight: bold;
}

/* Style for the teapot message */
#teapot {
    text-align: center;
    font-size: 18px;
    color: #ffc107;
    margin-top: 20px;
}


/* Style for the scrambled word paragraph */
#scrambled_word {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

/* Bold text inside the scrambled word paragraph */
#scrambled_word b {
    font-weight: bold;
    color: #203d79;
}


.grid-container {
    display: grid;
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
    border: 1px solid black;
    /* grid-gap: 10px; */
    /* grid-template-columns: repeat(11,auto); */
    
}

.form-parent {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-button-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
}

.item {
    background-color: #ffffff;
    border: 1px solid #000000;
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
  }

  .item-selected {
    background-color: #d6d6d6;
  }


.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
 
}

.cell {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    border: 1px solid black;
}


/*********************** Found Words List Start *******************/
.found-words {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
    /* width: 80%;
    margin-left: 8%;
    margin-right: 8%; */
    margin-bottom : 10px
}

.word {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 10px; */
    justify-content: center;
    position: relative;
    background-color: #e4f1ff;
    border-radius: 8px;
}

 
.word-delete {
    position: absolute;
    top:0;
    right:4;
  }
  
.word-text {
    
    font-size: 0.8rem;
    font-weight: bold;
}


/*********************** Found Words List End *******************/