<html>
  <head>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>

    <script src="static/js/index.js"></script>
    <link href="static/css/styles.css" rel="stylesheet" />
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="/static/favicon.ico"
    />
  </head>
  <body>
    <main>
      <h1 class="title">Element Puzzle</h1>

      {% include 'periodic_table.html' %}

      <div class="question">{{ question }}</div>

      {%include 'form.html' %}
    </main>
  </body>
</html>
