<html>
  <head>
    <title>Element Puzzle</title>
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="/static/favicon.ico"
    />

    <!-- js venders -->
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- custom scripts -->
    <script src="static/js/index.js"></script>

    <!-- styles venders -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/static/css/solid.min.css" rel="stylesheet" />

    <!-- custom styles -->
    <link href="static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1 class="title">Element Puzzle</h1>

      {% include 'periodic_table.html' %}

      <div class="question">{{ question }}</div>

      {%include 'form.html' %}
      
      {%include 'popup.html' %}
    </main>
  </body>
</html>
