<!DOCTYPE html>
<html lang="en">
<head>
    <title>Count the New Buildings - Australian Synchrotron Open Day 2024</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles.css" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/json-enc.js"></script>
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">

</head>
<body >


<div class="container">
   <h1 class="title">Count the New Buildings! 🔍</h1>

   <div class="instructions">
    <p>Below are 2 overlooking photos of the Synchrotron taken from 2019 and 2024.</p>
    <p>How many <b>new buildings</b> can you find between them? 👀 Enter your answer at the bottom of this page! 👇</p>
   </div>

  <hr class="solid">
  
  <div class="grid">
    <div class="grid-item"><img src="static/left.png" ></div>
    <div class="grid-item"><img src="static/right.png" ></div>
  </div>
  
  <hr class="solid">
  
  <form id='form' class="form" method="POST" action="/submission">
    <input hidden type="text" id="name" name="name" value="{{ puzzle }}">
    <input hidden type="text" id="visitor" name="visitor" value="{{ visitor }}">

    <label class="form-label">
      Answer:
      <input class="form-input" type="text" required pattern="[1-9]\d{0,5}" title="Positive integer only"
        placeholder="Enter your answer here..." name="answer" aria-describedby="input-help_text">
    </label>

    <p class="form-help_text" id="input-help_text">(Please only enter positive integers!)</p>
    
    <button class="form-button" type="submit">✈ Submit</button>
  </form>

</div>
</body>
</html>


